@media (max-width: 1100px) {
    .hero-banner{
        margin-top: 0px;
        padding: 50px 0 60px;
        background-position: bottom right;
    }
    .review-img-wrap {
        display: none;
    }
    .main-review:before{
        display: none;
    }
    .main-review::after{
        display: none;
    }
}
@media (max-width: 768px) {
    .header .nav_links{
        display: none;
    }
    .pkg-list>div {
        width: 100%;
    }
    .bg-img {
        background-position: top left;
        padding: 10px 1rem;
    }
    .cta-sec .cta-img {
        display: none;
    }
    .hero-banner{
        margin-top: 0;
        background-position: bottom right;
    }
    .banner_height{
        min-height: 100svh;
        padding-top: 0;
        height: 100%;
    }
    .btn_flex .btn {
        width: 100%;
    }
    .banner-content .banner-para{
        margin-top: 10px;
        font-size: 14px;
    }
    /* footer {
        margin-top: 30px;
    } */
    .primary-hd {
        font-size: 30px;
    }
    .pckg {
        height: auto;
        margin-bottom: 20px;
    }
    .review-img-wrap {
        display: none;
    }   
    .cta-img.text-end {
        margin-top: 20px;
        text-align: center !important;
    }
    .banner-content .heading {
        font-size: 26px;
    }
    .process-box{
        margin-bottom: 20px;
    }
    .logo img {
        height: 50px;
    }
    .header a.btn.theme-btn {
        border-radius: 30px;
        padding: 5px 20px;
        font-weight: 500;
    }
    .review-text-wrap h3 {
        font-size: 45px;
    }
    .review-box h3 {
        font-size: 22px;
    }
    .cta-img.text-end img {
        max-width: 100%;
    }
    .main-review{
        overflow: hidden;
        padding: 0;
    }
    .header{
        gap: 10px;
        justify-content: center;
    }
    .theme-btn {
        padding: 5px 10px;
    }
    .hero-banner{
        padding: 100px 0 60px;
    }
}
@media (max-width: 357px) {
    .hero-banner {
        margin-top: -140px;
    }
    header {
        position: relative;
    }
    header.sticky{
        background: transparent;
    }
}
