:root {
    --primary: #4a2eef;
    --secondary: #0d52e3;
    --bg-light: #2a3e812b;
    --bg-gray: #f4f9ff;
    --black: #000000;
    --white: #ffffff;
    --dark: #333333;
    --text-color: #000000;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    background-color: var(--primary);
}

body {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    line-height: 1.75;
    color: #414752;
    overflow-x: hidden;
    font-display: swap;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    font-display: swap;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(55, 68, 81);
}

h1,
.h1 {
    font-size: 46px;
}

h2,
.h2 {
    font-size: 40px;
}

p {
    margin-bottom: 25px;
}

.theme-btn {
    background: var(--primary);
    padding: 8px 30px;
    display: inline-block;
    font-family: "Inter", sans-serif;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    border-radius: 2px;
    border: 2px solid transparent;
}

.theme-btn.outlined_btn {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

.theme-btn i {
    margin-right: 10px;
}

.theme-btn:hover {
    color: var(--primary);
    background: #fff;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.25);
    border-color: var(--primary);
}

*:hover,
*:focus,
* {
    outline: none !important;
}

a,
input[type=submit] {
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #777777;
}

textarea,
select,
input[type],
textarea,
select,
button {
    background: transparent;
    border: none;
    border-radius: 0px;
}

::-webkit-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-ms-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    opacity: 1;
}


/* header css */
/* Hamburger Menu */
.menu-Bar {
    position: relative;
    cursor: pointer;
    width: 32px;
    height: 20px;
    z-index: 22;
    display: none;
}

.menu-Bar span {
    display: block;
    height: 3px;
    width: 32px;
    background: var(--primary);
    position: relative;
    transition: 0.6s all;
    border-radius: 100px;
}

.menu-Bar span:nth-child(1) {
    top: 0;
}

.menu-Bar span:nth-child(2) {
    top: 5px;
    transform-origin: left;
}

.menu-Bar span:nth-child(3) {
    top: 10px;
}

.menu-Bar.open span {
    background: #fff;
}

.menu-Bar.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 5px;
    transform-origin: right-center;
}

.menu-Bar.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.menu-Bar.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 0;
    transform-origin: right-center;
}

/* Menu Css */
.menuWrap {
    display: flex;
    justify-content: flex-end;
}

.main-header .menu {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.main-header .menu>li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
    font-family: "Inter", sans-serif;
}

.main-header .menu>li>a {
    display: block;
    color: #414752;
    padding: 15px 0;
}

.main-header .menu>li:last-child>a {
    background: var(--primary);
    padding: 10px 15px;
    color: #fff !important;
}

.main-header .menu>li:last-child>a:hover {
    color: #fff;
}

.main-header .menu li:hover>a,
.main-header .menu li.active>a {
    color: var(--primary);
}

.main-header .menu>li.active>a {
    position: relative;
}

/* Menu Dropdown CSS */
.menu li.dropdown-nav {
    position: relative;
    display: inline-flex;
}

.menu li.dropdown-nav>a:after {
    content: "\f078";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    font-size: 12px;
    padding-left: 8px;
}

ul.dropdown {
    position: absolute;
    min-width: 100%;
    width: 250px;
    left: 0;
    background: #fff;
    padding: 15px 30px;
    opacity: 0;
    visibility: hidden;
    top: 80%;
    transition: 0.5s top;
    z-index: 999;
    box-shadow: 0px 18px 30px rgba(0, 0, 0, 0.15);
}

ul.dropdown li {
    padding: 0;
}

ul.dropdown li a {
    color: #414752;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    display: block;
    text-transform: capitalize;
}

ul.dropdown li a:hover {
    color: var(--primary) !important;
}

ul.dropdown li a:hover {
    color: var(--primary);
}

ul.dropdown li:last-child a {
    border-bottom: 0;
}

ul.dropdown li {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

ul.dropdown li a {
    background: transparent;
}

ul.dropdown li.last a {
    margin-bottom: 0px;
}

ul.dropdown li a:hover {
    color: #000;
}

.dropdown-nav:hover ul.dropdown {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.header_top {
    background: rgba(55, 68, 81, 0.8);
    padding: 8px 0;
}

.header_top a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.hdr_1 a.theme-btn.outlined_btn {
    font-size: 12px;
    padding: 5px 12px;
    margin-right: 15px;
    border-color: #fff;
    color: #fff;
}

.hdr_1 a.theme-btn.outlined_btn:hover {
    color: var(--primary);
}

.main-header {
    padding: 30px 0;
}

.main-header.sticky {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

a.logo img {
    width: 172px;
}

.mainBanner {
    position: relative;
    padding: 2.5% 0;
    overflow: hidden;
}

.mainBanner .banner_content {
    position: relative;
    z-index: 1;
}

.mainBanner .banner_content h1 {
    font-weight: 800;
    line-height: 56px;
    margin-bottom: 16px;
}

.mainBanner .banner_content h1 span {
    color: rgb(18, 112, 255);
}

.mainBanner .banner_content .words_wrap {
    display: inline-block;
}

.mainBanner .banner_content .ml7 {
    position: relative;
}

.mainBanner .banner_content .ml7 .text-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.mainBanner .banner_content .ml7 .letter {
    transform-origin: 0 100%;
    display: inline-block;
}

.mainBanner .banner_content>p {
    font-size: 20px;
    font-weight: 600;
    width: 90%;
    line-height: 1.4;
    margin-bottom: 30px;
}

.mainBanner .banner_content>ul {
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
    line-height: 1.8;
}

.mainBanner .banner_content>ul li {
    display: flex;
    line-height: 1.5;
    margin-bottom: 12px;
}

.mainBanner .banner_content>ul li::before {
    content: "\f111";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #414752;
    margin-right: 12px;
    font-size: 60%;
    line-height: 25px;
}

.mainBanner .banner_content .btn_group {
    margin-bottom: 20px;
}

.mainBanner .banner_content .btn_group a:first-child {
    min-width: 250px;
}

.mainBanner .banner_content_1 {
    font-size: 14px;
    padding-right: 20%;
}

.mainBanner .banner_content_1 a {
    color: var(--primary);
    text-decoration: underline;
}

.mainBanner .mb_2 {
    padding-left: 30px;
    margin-top: 20px;
}

.mainBanner .mb_2 .mb_2_1 {
    position: relative;
}

.mainBanner .mb_2 .mb_2_1::before {
    content: "";
    background: transparent url(../images/home/elem1.svg);
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 120%;
    top: -30px;
    left: -30px;
    background-repeat: no-repeat;
}

.mainBanner .mb_2 .mb_2_1::after {
    content: "";
    background: transparent url(../images/home/elem2.svg);
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 120%;
    top: 80px;
    background-repeat: no-repeat;
    left: 40%;
}

.mainBanner .mb_2 img {
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.mainBanner .mb_2_2 {
    background: rgb(9, 35, 63);
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding: 12px 20px;
    border-radius: 9px;
    margin: -20px 60px 0 -4rem;
}

.mainBanner .mb_2_2 p {
    color: #fff;
    margin: 0;
    font-weight: 500;
    line-height: 1.4;
}

.mainBanner .mb_2_2 ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
}

.mainBanner .mb_2_2 ul i {
    color: #ffb600;
    font-size: 125%;
    margin-left: 6px;
}

.section_head {
    margin-bottom: 40px;
}

.section_head.has_mt {
    padding-top: 3%;
}

.section_head>span {
    display: block;
    font-size: 128px;
    font-family: "Intro", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(74 46 239);
    color: #fff;
    opacity: 0.2;
    line-height: 0.75;
    position: relative;
}

.section_head>span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, transparent, #fff);
}

.section_head h2 {
    margin-top: -2rem;
    position: relative;
    margin-bottom: 10px;
}

.section_head p {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
}

.sec_1_1 {
    border: 1px solid #5f6974;
    border-radius: 7px;
    padding: 30px;
    height: 100%;
    position: relative;
}

.sec_1_1 span {
    display: block;
    font-size: 128px;
    font-family: "Intro", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-text-stroke: 1px rgb(12, 0, 1);
    color: #fff;
    opacity: 0.2;
    line-height: 0.75;
    position: relative;
    position: absolute;
    top: 15px;
    right: 30px;
}

.sec_1_1 span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, transparent, #fff);
}

.sec_1_1 img {
    width: 63px;
    height: 63px;
    object-fit: contain;
    margin-bottom: 25px;
}

.sec_1_1 h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sec_1_1 p {
    margin-bottom: 0;
}

.sec_2 {
    background: #5f6a74;
}

.sec_2 .section_head h2,
.sec_2 .section_head p {
    color: rgba(255, 255, 255, 0.8);
}

.sec_2 .row>div:nth-child(2) .sec_2_1 {
    box-shadow: 0px 4px 30px 1px rgb(74 46 239 / 32%);
    position: relative;
    z-index: 1;
    margin-top: 0;
}

.sec_2 .section_head span {
    -webkit-text-fill-color: #5f6a74;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.sec_2 .section_head span::before {
    background: linear-gradient(180deg, transparent, #5f6a74);
}

.sec_2_1 {
    background: #fefefe;
    border-radius: 5px;
    padding: 30px;
    margin-top: 40px;
    height: 100%;
}

.sec_2_1 h3 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: rgba(17, 24, 39, 0.8);
}

.sec_2_1 .theme-btn {
    width: 250px;
    max-width: 100%;
    margin: 3px;
}

.sec_2_1 .nobg-btn {
    background: #fff;
    color: var(--primary);
    text-transform: capitalize;
    margin-bottom: 19px;
    display: block;
}

.sec_2_1 ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.sec_2_1 ul li {
    padding: 8px 0;
    display: flex;
}

.sec_2_1 ul li:before {
    content: "\f058";
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #4a2eef96;
    margin-right: 12px;
    font-size: 120%;
    line-height: 26px;
}

.sec_2_1_1 {
    text-align: center;
    color: rgba(17, 24, 39, 0.8);
}

.sec_2_1_1 span {
    font-size: 18px;
    font-weight: 500;
    color: rgb(87, 107, 99);
}

.sec_2_1_1 strong {
    display: block;
    font-size: 40px;
    color: rgb(74 46 239);
    margin-bottom: 25px;
}

.sec_2_1_1 strong sub {
    font-size: 20px;
    font-weight: 600;
    bottom: 0;
}

.sec_2_1_1 small {
    font-weight: 500;
    font-size: 16px;
    display: block;
    margin-bottom: 15px;
}

.sec_2_1_1 p {
    font-weight: 500;
    margin-bottom: 15px;
}

.sec_padding {
    padding: 5rem 0;
}


.sec_3_1 {
    border: 0.5px solid var(--primary);
    border-radius: 4px;
    padding: 24px;
    padding-top: 60px;
    position: relative;
    margin-top: 50px;
    min-height: 300px;
}

.sec_3_1:before {
    content: "";
    position: absolute;
    top: 30px;
    right: 20px;
    width: 46px;
    height: 34px;
    background: transparent url(../images/home/qoute-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.sec_3_1>img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
    left: 24px;
    top: -50px;
}

.sec_3_1 h3 {
    font-size: 24px;
    margin: 10px 0;
}

.sec_3_1 .author {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec_3_1 .author p {
    margin: 0;
    font-size: 18px;
}

.slick-slide {
    margin: 0 15px;
}

.slick-list {
    margin: 0 -15px;
}

.slick-dots {
    padding: 30px 0 0;
    text-align: center;
    bottom: -40px;
}

.slick-dots li {
    width: auto;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 0px;
    border: none;
    height: fit-content;
}

.slick-dots li button {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    margin: 5px;
    padding: 0px;
    border: 1px solid rgb(217, 217, 217);
    cursor: pointer;
    font-size: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    box-sizing: border-box;
    position: relative;
}

.slick-dots li button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(217, 217, 217);
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.slick-dots li.slick-active button::before {
    background: var(--primary);
}

.sec_4 {
    background: #09233f;
    text-align: center;
    color: #fff;
}

.sec_4 .outlined_btn {
    border-color: #fff;
    color: #fff;
}

.sec_4 .outlined_btn:hover {
    border-color: var(--primary);
    color: var(--primary);
}

.sec_4 h2 {
    color: #fff;
    margin: 0 10% 20px;
}

.sec_4 p {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 17% 40px;
}

.btn_group a {
    margin-right: 25px;
}

.plain-cta-text p {
    margin: 22px 0 0 0;
    font-size: 16px;
}

.plain-cta-text p a {
    color: var(--primary);
    font-weight: 600;
}

.plain-cta-text p a i {
    transform: scaleX(-1);
    margin-right: 10px;
}

.site-footer {
    padding: 5rem 0 2rem 0;
}

.site-footer a {
    color: rgba(17, 24, 39, 0.8);
}

.site-footer a:hover {
    color: var(--primary);
}

.site-footer .sf_1 p:first-child {
    font-weight: 600;
    font-size: 20px;
}

.site-footer .sf_1 a.logo {
    margin-top: 30px;
}

.site-footer .sf_1 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.site-footer .sf_1 ul li {
    padding-bottom: 10px;
}

.site-footer .sf_2 {
    text-align: end;
}

.site-footer .sf_1 ul.social,
.site-footer .sf_2 ul {
    display: flex;
    margin: 20px 0 0;
}

.site-footer .sf_1 ul.social a,
.site-footer .sf_2 ul a {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: var(--primary);
    margin: 0 4px;
}

.site-footer .sf_1 ul.social a:hover,
.site-footer .sf_2 ul a:hover {
    color: #fff;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

.site-footer .sf_2 .chat_btn {
    background: var(--primary);
    padding: 6px 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    border-radius: 4px;
    position: relative;
    margin-bottom: 25px;
}

.site-footer .sf_2 .chat_btn::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    border-width: 15px 0 0 15px;
    border-style: solid;
    border-color: var(--primary) transparent transparent transparent;
    transform: scaleX(-1);
}

.site-footer .sf_2 .chat_btn i {
    margin-right: 15px;
}

.site-footer .sf_2 .call_btn {
    font-size: 18px;
    font-weight: bold;
}

.site-footer .sf_2 .call_btn i {
    transform: scaleX(-1);
    margin-right: 10px;
}

.site-footer .ftr_btm {
    border-top: 1px solid #9e9e9e;
    margin-top: 3rem;
    padding-top: 2rem;
    font-size: 13px;
}

.site-footer .ftr_btm p {
    width: 85%;
    margin-bottom: 0;
}

.lp-ftr .site-footer .sf_1 a.logo {
    margin: 0;
}

.lp-ftr .site-footer .ftr_btm {
    margin-top: 26px;
}


.gray_bg {
    background: #5f6974;
    color: #fff;
}

.gray_bg .outlined_text {
    -webkit-text-fill-color: #5f6a74;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.gray_bg .outlined_text:before {
    background: linear-gradient(180deg, transparent, #5f6a74);
}

.gray_bg h2 {
    color: #fff;
}

.img_holder {
    position: relative;
    padding-right: 50px;
    margin-bottom: 4rem;
}

.img_holder img {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.img_holder:before {
    content: "";
    background: transparent url(../images/trademark-registration/elem3.svg);
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 115%;
    top: 20px;
    right: 30%;
    background-repeat: no-repeat;
}

.get_trademark_sec.has_elem.sec_padding.gray_bg h4 {
    color: #b7c4d1;
}

.has_elem {
    position: relative;
}

.has_elem .container {
    position: relative;
    z-index: 1;
}

.outlined_text {
    display: block;
    font-size: 128px;
    font-family: "Intro", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke: 1px rgb(243, 82, 90);
    color: #fff;
    opacity: 0.2;
    line-height: 0.75;
    position: absolute;
    right: 0;
    bottom: -4rem;
}

.outlined_text::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, transparent, #fff);
}

.get_trademark_sec {
    padding-bottom: 8rem;
    color: #fff;
}

.get_trademark_sec h2 {
    color: #fff;
}

.get_trademark_sec p {
    width: 85%;
    margin-bottom: 15px;
}

.get_trademark_sec .outlined_text {
    -webkit-text-fill-color: #5f6a74;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.get_trademark_sec .outlined_text::before {
    background: linear-gradient(180deg, transparent, #5f6a74);
}

.get_trademark_sec .gt_1 {
    padding-bottom: 3rem;
    /*margin-top: -2rem;*/
}

.get_trademark_sec .btn_group .outlined_btn {
    color: #4a2eef;
    border-color: #fff;
}

.get_trademark_sec .btn_group .outlined_btn:first-child {
    border-color: transparent;
    margin-right: 0;
    color: #fff;
}

.get_trademark_sec .btn_group .outlined_btn:hover {
    color: #4a2eef;
}

.search_similar {
    position: relative;
}

.search_similar::before {
    content: "";
    background: transparent url(../images/trademark-registration/elem4.svg);
    background-size: contain;
    position: absolute;
    width: 47%;
    height: 60%;
    top: 28%;
    right: 0;
    background-repeat: no-repeat;
}

.search_similar::after {
    content: "";
    background: transparent url(../images/trademark-registration/elem5.svg);
    background-size: contain;
    position: absolute;
    width: 55%;
    height: 55%;
    top: 15%;
    right: -25%;
    background-repeat: no-repeat;
}
.s_serach {
    border: 1px solid rgba(95, 105, 116, 0.5);
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background: #fff;
    position: relative;
    z-index: 1;
  }
  .s_serach i {
    flex: 0 0 auto;
    padding: 0 0 0 10px;
    color: rgb(17, 24, 39);
  }
  .s_serach input {
    width: 100px;
    padding: 10px 15px;
    flex: 1;
  }
  
  .ss_2 {
    padding-left: 40px;
    position: relative;
    z-index: 1;
  }
  .ss_2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  .ss_2 ul li {
    flex: 0 0 auto;
    width: 33.33%;
    padding: 15px;
  }
  .ss_2 ul li a {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #333333;
    display: block;
    background: #fff;
    text-align: center;
    color: inherit;
    font-weight: 700;
  }
  .ss_2 ul li a:hover {
    background: #4a2eef;
    color: #fff;
    border-color: #4a2eef;
  }
  .ss_2 ul:nth-child(even) {
    margin-left: 4rem;
    margin-right: -4rem;
  }
  
  .accordions {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: list;
  }
  .accordions li {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
  }
  .accordions li .acc_title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.25;
    padding-right: 20px;
  }
  .accordions li .acc_title span {
    padding-right: 20px;
  }
  .accordions li .acc_title span::before {
    counter-increment: list;
    content: counter(list) ".";
    margin-right: 5px;
  }
  .accordions li .acc_title i {
    color: #f04e23;
    font-size: 120%;
  }
  .accordions li .acc_desc {
    padding: 0 10% 30px 20px;
  }
  .accordions li .acc_desc p:last-child {
    margin: 0;
  }
  .accordions li .acc_desc ul li {
    margin-bottom: 4px;
  }
  .accordions li .acc_desc ul li:before {
    font-size: 40%;
    line-height: 28px;
    color: #111827;
  }
  .accordions li.active .acc_title i.fa-plus-square:before {
    content: "\f146";
  }
  